body {
  background-color: pink;
  background-image: linear-gradient(
      to right,
      rgba(254, 154, 192, 0.942),
      rgba(254, 154, 192, 0.942)
    ),
    url('./img/alice.jpg');
}
form {
  display: flex;
  gap: 8px;
}
.gallery {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
input {
  margin-left: auto;
  border-radius: 8px;
}

.button-1 {
  margin-right: auto;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
.photo-card {
  padding: 5px;
  transition: transform 0.2s;
  background-color: pink;
  box-shadow: 4px 4px 4px 4px #855a6a;
}
.photo-card:hover {
  transform: scale(1.05);
}
.info {
}
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #0e0c0c;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #0e0c0c;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
